*~
*.log
*.bak
*.tmp
*.swp
*.lock
cccc
# C++
*.a
*.so

# CMake
build/
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# IDEA CLion
*.ipr
*.iws
*.iml
.idea
.idea_modules
.sonar_lock

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# KDE directory preferences
.directory

# OS X
.DS_Store
.Trashes

# Maven
target/
